[2022-09-26 15:23] fineanmol opened #1 "Design decisions for the tutorials (Please read this before suggesting changes)"
This is not an issue, but more of a documentation of the design choices we made for the tutorials and what we learned from community feedback.

### 1. Keep the tutorial short
I think this is one of the most important aspects that helped this project grow. Getting a pay-off within five minutes of learning something is remarkable. For brevity, we have to compromise on details. A lot of details are m

[2022-09-29 07:10] fineanmol opened #5 "Improve the readme File with some useful information"
🐞 **Problem**

Currently Readme file is bit complex to understand for a newbie.

🎯 **Goal**

We can try to make it more readable and add more solutions to it.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in

[2022-09-29 18:27] fineanmol opened #6 "Can we automate the process , or find something to reduce the merge conflicts?"
🐞 **Problem**

### All the contributors are updating a same file. If we can find a way to get less conflicts. we can improve this project

[2022-10-01 04:55] kevalsurani15 commented on #5
Can I get this task?

[2022-10-01 06:07] Nkashyap-anand opened #51 "can you pls assign me HACKTOBERFEST-ACCEPTED label"
i have already pushed my contribution

[2022-10-01 07:44] fineanmol commented on #51
@Nkashyap-anand  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 07:44] fineanmol commented on #5
Sure

[2022-10-01 08:01] IayushCoderJOD commented on #5
I had started my work thanks

[2022-10-01 08:08] SahityaRoy opened #85 "Wants to add my profile"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-01 08:08] SahityaRoy commented on #85
[PR](https://github.com/fineanmol/hacktoberfest/pull/83/)

[2022-10-01 08:15] Rahul6918 opened #88 "Confusing to contribute for a specific language"
🐞 **Problem**
There are so many programs that are unorganized and hard to contribute for the future if there are going to be like this

🎯 **Goal**
Specific Folder for specific language to easily contribute in that folder and less Unorganised and Long Hard to find Codebase.

💡 **Possible solutions**
Create a Specific Folder and add a description to the readme.md for contributors to give them a work

[2022-10-01 08:16] fineanmol commented on #88
@Rahul6918  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 08:16] fineanmol commented on #85
@SahityaRoy  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 08:16] #85 closed

[2022-10-01 08:16] Rahul6918 commented on #88
Done

[2022-10-01 08:17] #51 closed

[2022-10-01 08:17] Rahul6918 commented on #88
Can I work on that problem?

[2022-10-01 08:26] Rahul6918 commented on #88
Hey @fineanmol ?

[2022-10-01 08:49] Abbhiishek commented on #6
Hey @fineanmol
I have not much experience working with `git rebase` , but i feel this issue might be resolved if you do so.
By the way i would love to work on this issue

[2022-10-01 09:49] fineanmol commented on #6
Definitely. Try your best to resolve the issue.

[2022-10-01 09:50] fineanmol commented on #88
Sure you can

[2022-10-01 10:49] Rahul6918 opened #144 "All the PRs are Excluded becaues REPOS THAT GO AGAINST HACKTOBERFEST’S VALUES WILL BE EXCLUDED FROM QUALIFICATION AND PR/MRS MADE TO THOSE REPOS WON’T COUNT."
🐞 **Problem**
REPOS THAT GO AGAINST HACKTOBERFEST’S VALUES WILL BE EXCLUDED FROM QUALIFICATION AND PR/MRS MADE TO THOSE REPOS WON’T COUNT.

[2022-10-01 10:50] Ayush-Khandelwal28 opened #145 "I have Pushed my Contribution"
I have pushed my Contribution, can you please merge it and assign me the "Hacktober Accepted Tag".

[2022-10-01 11:05] Abbhiishek commented on #6
Well i did some research..

Here what i found https://stackoverflow.com/questions/58186824/how-to-avoid-so-many-merge-conflicts-in-this-situation

Will it work ? 🤔

[2022-10-01 11:15] #145 closed

[2022-10-01 11:16] #144 closed

[2022-10-01 11:51] #6 closed

[2022-10-01 12:01] stenwire opened #169 "Add python script to Script directory"
I want to include a useful python script I didn't find in the Script directory

[2022-10-01 14:13] Nkashyap-anand commented on #51
i have already done it

[2022-10-01 14:16] Craig-Wildhaber opened #195 "My permission is denied when I try to push"
I do not have the access rights to push.

[2022-10-01 16:19] #195 closed

[2022-10-01 22:31] Anushree1291 commented on #88
Can u assign this task to me as well. I would wish to add some competitive programming question- solution to the task.

[2022-10-02 05:24] shubhrastogi07 opened #272 "Want to add a motivational quotes chrome Extension"
Hey @fineanmol,
Want to add a chrome extension which shows a new motivational quote every time it is clicked using a public API.
Please assign this issue to me under hacktoberfest 2022 and help me in starting my first contribution. I have already starred the repo and forked it.

[2022-10-02 05:25] LordMahir commented on #5
hey! I can help , can you please assign it to me?

[2022-10-02 06:15] pandey-ankit-22 commented on #88
Can you assign this task to me, as I want to work on this problem ?

[2022-10-02 09:29] akghosh111 opened #303 "Want to add more C++ (DSA) programs in C++ folder"
Hi, I want to add more C++ programs

[2022-10-02 09:39] shubhrastogi07 commented on #272
@fineanmol I have added the project and made the pull request(#305) kindly review it and merge it under the hacktoberfest-accepted label.

[2022-10-02 10:46] Manishch27 commented on #303
Hello Maintainer,
can you assign this task to me?

[2022-10-02 11:33] Manishch27 commented on #303
Hey @fineanmol,

I also want to add some C++ programs, so can you please assign this task to me too?

[2022-10-02 12:00] RajAdwaita opened #324 "Add Code for BFS"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-02 12:03] souravbhunia07 commented on #303
Hay @fineanmol ,
I also want to add some c++ DSA programs. so, can you assign me this task?

[2022-10-02 12:15] zain2201 commented on #303
Hi, can you  assign me this task, I can add a lot of C++ programs.

[2022-10-02 12:36] Aviral2002 commented on #5
can I get this task?

[2022-10-02 14:26] #272 closed

[2022-10-02 14:57] souravbhunia07 commented on #324
I want to complete this task, please assign it to me.

[2022-10-02 15:18] RajAdwaita commented on #324
/assign

[2022-10-02 15:18] RajAdwaita commented on #324
\assign

[2022-10-02 15:19] RajAdwaita commented on #324
nah bro I want this

[2022-10-02 17:06] ShashwatAwasthi12 commented on #303
Hi, please assign me this task for hacktober fest 2022 contribution I have many programs to add to the list. Thank you.

[2022-10-02 17:30] keshav-rockwinder commented on #88
@fineanmol can you assign me this i want to work on this issue?

[2022-10-02 18:02] fineanmol commented on #303
@ShashwatAwasthi12  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-02 18:03] fineanmol commented on #324
@RajAdwaita @souravbhunia07  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-02 18:09] souravbhunia07 commented on #324
Already starred the repo.

[2022-10-02 18:29] Midas847 commented on #324
no bro I want this!

[2022-10-02 18:55] debjitpurohit commented on #303
please assing this to me i am a hacktoberfest 2022 participant

[2022-10-02 18:57] souravbhunia07 commented on #303
@fineanmol
please review and merge my pull request, if I have done it correctly.

[2022-10-03 07:14] ayushjain27 commented on #324
Please assige me

[2022-10-03 07:16] ayushjain27 opened #411 "Wildcard Mtaching Problem using dp in c++"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-03 07:17] ayushjain27 commented on #411
I want to add this problem statement using dp. Please assign me

[2022-10-03 07:19] ayushjain27 commented on #411
/assign

[2022-10-03 07:31] ayushjain27 commented on #411
Please merge my PR #412
https://github.com/fineanmol/hacktoberfest/pull/412/commits/5b679bfbdfb1ed4daf44246acd7c998f82ef4818

[2022-10-03 07:41] punyakrit commented on #5
can i get this task

[2022-10-03 08:21] stoody-dev commented on #324
@fineanmol  please assign this to me , i have started this

[2022-10-03 10:53] shah14is opened #427 "Python Programs"
Add python code for Questions asked in Interviews

[2022-10-03 10:56] shah14is commented on #427
@fineanmol please assign me this.

[2022-10-03 11:13] devrudra9 commented on #324
Hii, @fineanmol please assign this to me, I have got some awesome ways to implement BFS

[2022-10-03 11:15] devrudra9 commented on #411
Hii @fineanmol please assign this issue to me

[2022-10-03 11:22] Himanshi2511 commented on #303
Hay @fineanmol ,
I also want to add some C++ DSA programs. So, can you assign me this task?

[2022-10-03 13:22] RishabhSharma96 commented on #427
@fineanmol please assign me this. and please add hacktober fest label to it

[2022-10-03 13:24] RishabhSharma96 commented on #303
Hay @fineanmol ,
I also want to add some C++ programs. So, kindly assign me this task?

[2022-10-03 14:11] jackson-roberio opened #441 "This repository not hacktoberfest as it does not follow the values of the event"
My PR was received this way by the event:

![image](https://user-images.githubusercontent.com/3946126/193598885-c1143538-623c-4704-b81f-6e60907c9010.png)

[2022-10-03 17:05] MayankUghade commented on #441
same bro

[2022-10-03 17:08] MayankUghade commented on #441
@fineanmol pleas help with the problem.

[2022-10-03 17:28] fineanmol commented on #441
@jackson-roberio @MayankUghade Yes, few contributors didn't liked the way we were trying to help new contributors so they have reported this repo.
Now nothing can be done from my end.

[2022-10-03 17:28] #441 closed

[2022-10-03 17:53] naman1102 commented on #324
@fineanmol can you please assign this to me....

[2022-10-03 18:16] fineanmol commented on #169
Create a new one, and place your scripts in it.

[2022-10-03 18:30] #303 closed

[2022-10-03 20:10] Rabeet8 opened #471 "C++ Programs"
Hello, @fineanmol I would like to add some searching and sorting C++ programs
Kindly assign me this issue under Hacktoberfest 2022.
I have already starred ⭐️ the repo.

[2022-10-03 21:30] fleetimee opened #478 "Dart language"
Please assign me for this language i want bulk upload to this repository

[2022-10-04 00:38] GeraAlcantara opened #487 "NO Repo suitable for hacktoberfest"
🐞 **Problem**
hacktoberfest mark this issue as excluded
🎯 **Goal**
make PR that are sutible in the guildline of hacktoberfest
this how it look on my profile

![image](https://user-images.githubusercontent.com/32178037/193709633-85d37585-72c4-4e39-a71a-b7316fdb603a.png)

💡 **Possible solutions**
review the hacktoberfest guid lines

📋  **Steps to solve the problem**

*   hacktoberfest guid lines

[2022-10-04 16:10] Kinshuk2003 commented on #427
@fineanmol i also want to contribute to this issue please assign it to me

[2022-10-04 16:57] ItzLevvie commented on #487
This repository has been **_permanently_** excluded from Hacktoberfest 2022. This means that any pull requests (PRs) made to this repository **_will_** not be counted towards your contributions for Hacktoberfest 2022.

Please contribute to **_valuable_** repositories instead of sending pull requests (PRs) to repositories that are there to defeat the whole purpose of Hacktoberfest 2022.

Any repeat

[2022-10-04 16:57] ItzLevvie commented on #441
This repository has been **_permanently_** excluded from Hacktoberfest 2022. This means that any pull requests (PRs) made to this repository **_will_** not be counted towards your contributions for Hacktoberfest 2022.

Please contribute to **_valuable_** repositories instead of sending pull requests (PRs) to repositories that are there to defeat the whole purpose of Hacktoberfest 2022.

Any repeat

[2022-10-04 16:57] ItzLevvie commented on #144
This repository has been **_permanently_** excluded from Hacktoberfest 2022. This means that any pull requests (PRs) made to this repository **_will_** not be counted towards your contributions for Hacktoberfest 2022.

Please contribute to **_valuable_** repositories instead of sending pull requests (PRs) to repositories that are there to defeat the whole purpose of Hacktoberfest 2022.

Any repeat

[2022-10-04 16:58] #487 closed

[2022-10-05 02:49] ervikasji opened #571 "Please add my name in Contributor.md"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-05 06:08] DevMittal04 commented on #324
Is this issue still opne for contribution?

[2022-10-05 06:30] Puneet-03 commented on #427
@fineanmol  please assign this to me

[2022-10-05 10:52] Bcepnez commented on #427
@fineanmol please assign this to me

[2022-10-05 12:05] sujalgarg17 commented on #471
Hello please assign me this issue

[2022-10-05 13:21] prashant5025 commented on #427
@fineanmol i also want to contribute to this issue please assign it to me.

[2022-10-05 13:36] prashant5025 commented on #471
Hello, @fineanmol  I would like to add DSA programs
Please let me know if this issue is still open.

[2022-10-05 13:46] tolgakurtuluss commented on #427
@fineanmol I also want to contribute to this issue please assign me.

[2022-10-05 14:29] ayushi-ras commented on #427
@fineanmol I also want to contribute to this issue please assign me.

[2022-10-05 15:06] AdarshPradhan1508 commented on #471
Hi @fineanmol there please let me to contribute in this issue

[2022-10-05 15:09] AdarshPradhan1508 commented on #427
Hi there @fineanmol I want  to contribute to this issue please assign it to me .

[2022-10-05 17:52] sidhrth04 opened #633 "Countdown timer using js"
@fineanmol  , Hey can you assign me with this issue so that i can contribute with a countdown timer using js on profile cards created using html and css
it will be a great help
thank you.

[2022-10-05 18:05] AdarshPradhan1508 commented on #5
can you  @fineanmol assign this issue to me

[2022-10-05 18:38] ig77ayush commented on #633
Please assign this issue to me

[2022-10-05 20:15] Abhash-Chakraborty commented on #633
Please assign me

[2022-10-05 20:16] Abhash-Chakraborty commented on #5
Can you assign me this issue @fineanmol

[2022-10-05 22:27] PrinceSah09 commented on #471
Hey, i want to do this , please assign it to me:)

[2022-10-05 22:28] PrinceSah09 commented on #427
Assign me :)

[2022-10-06 05:14] anupeshverma commented on #471
kindly assign me this issue

[2022-10-06 05:18] shivamagraharii commented on #471
Hi @fineanmol, I would like to contribute some C++ programs in this repo
Kindly assign me this issue under Hacktoberfest 2022.

[2022-10-06 05:21] AJSteel01 commented on #471
hello @fineanmol i would like to contribute some C++ programs on recursion in this repo.
Please assign me this issue under HAcktoberfest 2022

[2022-10-06 08:57] Anupamk06 commented on #471
hi @fineanmol please assign this task to me i will like to add them

[2022-10-06 10:21] abhishekratnam opened #691 "merge_sort and bubble_sort implementation in python and golang"
Prog to perform sorting based on merge-sort and bubble-sort and a liitle information on how to make an unstable sorting algo like merge-sort stable

For merge-sort it will recursively sorts the array in O(n*logN)
For bubble-sort (interview friendly) it will behave as bubbles coming out of water(intuition).

[2022-10-06 12:25] anmol111pal commented on #471
Hey, I am new to open source. Please assign this task to me.
@Rabeet8

[2022-10-06 13:13] abhinav2712 opened #706 "This Repo is excluded from Hacktoberfest, Please abide by the guidelines"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-06 14:24] SKSilentKiller commented on #471
Please assign me this

[2022-10-06 14:29] BinilTomJose1278 opened #714 "Adding name to the contributor.md file and creating simple Hello world text using C language."
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-06 16:49] BhaveshAnandpara commented on #571
@fineanmol  I am interested can I contribute ??

[2022-10-06 18:01] surajkeshari commented on #691
I am interested in this task .
can u assign this task to me.

[2022-10-06 18:05] surajkeshari commented on #471
please assign this task to me .
I am interested in DSA and and will add BEST DSA question in this repo.

[2022-10-06 20:11] goswamiprad commented on #427
Please assign this to me as well. Thanks!

[2022-10-07 04:39] TimTemi commented on #427
@fineanmol
Pls assign me to this. I have added my name to the contributing.md and followed guidelines and have sent a PR. I really want to participate and contribute to this issue, pls add a ''Hactoberfest'' tag to my PR and Merge😊

[2022-10-07 09:39] roytanmay commented on #633
@fineanmol ,  please assign me this task.
I want to contribute over this.

[2022-10-07 12:21] #706 closed

[2022-10-07 12:28] fineanmol opened #772 "New Issue"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-07 13:36] mafzaldev opened #775 "DSA Problems"

[2022-10-07 16:02] skyetw20 commented on #427
@fineanmol  Please assign this issue to me

[2022-10-07 19:18] mafzaldev commented on #775
@fineanmol your repo has is longer eligible for Hacktoberfest comtributions!!!!

[2022-10-07 23:45] Kgaurav951 commented on #633
please assign this issue to me sir

[2022-10-08 05:08] #775 closed

[2022-10-08 06:33] satvik225 commented on #633
Hey @fineanmol  sir, can u please assign this issue to me.

[2022-10-08 08:08] tamil-code commented on #714
hey @fineanmol  I'm new to open source looking for my first contribution please assign  to me

[2022-10-08 08:13] tamil-code commented on #571
hey @fineanmol  looking for my first contribution please assign this to me as well

[2022-10-08 11:23] fineanmol opened #841 "Contribute to Hacktoberfest Project 2 : Annoying Button 🎉."
### Contribute to Hacktoberfest Project 2 : [Annoying Button](https://github.com/fineanmol/Annoying-submit-button) 🎉
link : https://github.com/fineanmol/Annoying-submit-button

**Star** ⭐️ this project and  Annoying Button project to earn "HacktoberFest-accepted" label.

[2022-10-08 12:17] hasnainabeel commented on #427
Assign me :)

[2022-10-08 12:38] BinilTomJose1278 commented on #714
Could me please assign it to me as well

[2022-10-08 13:34] Lavanyasuc31 commented on #471
Hello  @fineanmol  , Please assign me this issue . I'll add the solutions of some important coding questions for placements

[2022-10-08 13:53] SanketUpadhyay01 commented on #324
@fineanmol can you please assign this to me if this issue is still open for contribution

[2022-10-08 13:54] Harsh-0986 commented on #633
Please assign me

[2022-10-08 15:18] malikzi21 commented on #471
Please assign this to me i will ad very crucial dp programs like BS, BST, soduko, tower of Hanoi, knapsack problems

[2022-10-08 16:16] AsmaIbrahimButt opened #876 "Documentation Enhancement"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-08 17:51] m3g4n127001 commented on #841
please assign this to me. This sounds interesting.

[2022-10-08 17:53] saloship opened #880 "Adding name to contributing.md"
I have stared the repo please give the hacktoberfest-accepted label

[2022-10-08 18:02] saloship commented on #880
I have stared the repo

[2022-10-08 19:15] Dharanash commented on #571
I like to contribute in this issue

[2022-10-08 21:16] soerahmat69 commented on #841
please pull me dude

[2022-10-08 21:23] #714 closed

[2022-10-09 04:51] Aanya9693 commented on #880
Hey! I would to work on this issue, Can you assign this to me?

[2022-10-09 05:18] raiharsh1811 commented on #633
hi @fineanmol  sir an you please assign me with this task

[2022-10-09 06:05] raikiran07 commented on #633
hey @fineanmol  I have already started this project and is nearly complete, can you please assign this task to me. Thanks in advance.

[2022-10-09 06:10] miswaryousuf commented on #427
@fineanmol Please assign this issue to me

[2022-10-09 07:06] kbhavre commented on #427
@fineanmol Please assign this task to me

[2022-10-09 08:35] itsrishav17 commented on #471
I want to work on this project/issue. Can you please assign it to me?

[2022-10-09 08:57] itsrishav17 commented on #324
Hey, I want to work on this issue can you please assign it to me?

[2022-10-09 09:11] mihir224 commented on #841
I can work on this. Please assign me this issue.

[2022-10-09 10:32] avijain09 commented on #633
Please assign this issue to me @fineanmol

[2022-10-09 11:11] rohannsahh commented on #841
I want to work on this. Please assign me.

[2022-10-09 14:35] PravunathSingh opened #931 "Add my profile and name to contributing.md file"

[2022-10-09 14:35] PravunathSingh commented on #931
@fineanmol please assign this issue to me.

[2022-10-09 15:26] Vivek-raj-64 commented on #633
Hey @fineanmol can you please assign this task to me? I have learnt javascript recently and have made this project.

[2022-10-09 15:35] Vivek-raj-64 commented on #471
I would like to add "remove the vowels", "Isogram string", "maximum occuring characters in a string" and all sorting algorithms in C++. Please assign it to me.

[2022-10-09 15:36] Vivek-raj-64 commented on #471
I would like to add "remove the vowels", "Isogram string", "maximum occuring characters in a string" and all sorting algorithms in C++. Please assign it to me @fineanmol

[2022-10-09 15:38] Vivek-raj-64 commented on #841
I can resolve this issue. Please assign it to me @fineanmol

[2022-10-09 16:25] fineanmol commented on #841
Yes Meghana, It is a fun project. Try it out

[2022-10-09 16:25] #633 closed

[2022-10-09 16:36] fineanmol opened #933 "Formatting need on Contributors.md File 🤷🏻‍♂️"
### As currently, some people doesn't care about the format structure.
removing those profiles who are incomplete/not in structure can format the file.

[2022-10-09 18:12] MasterofDeath0 commented on #427
Can I get this issue assigned under Hacktoberfest 2022. This is the first time I'm contributing in hacktoberfest

[2022-10-09 18:15] MasterofDeath0 commented on #427
Can you please tell me what all guidelines I need to follow as this is my first time in Hacktoberfest. Where can I find this contributing.md file to add my name too

[2022-10-09 19:12] MasterofDeath0 commented on #933
@fineanmol can you please allow me access to add my name in contributors list, I am new to Hacktoberfest and still learning my last PR is giving an error
<img width="1440" alt="Screenshot 2022-10-10 at 00 41 23" src="https://user-images.githubusercontent.com/79480303/194775263-45d70419-566a-4dc7-8ad5-bc19681d0971.png">

[2022-10-09 19:38] TimTemi commented on #427
@MasterofDeath0, in the repo, check the Code folder, there is a ''CONTRIBUTING.md'' file, edit the file by adding your name after that you send a pull request and wait to be merged so you can be part of the project and make your contributions.

[2022-10-09 19:40] Kirti36 commented on #427
assign me pls..

[2022-10-09 20:40] Adityaarora08 opened #951 "Celebrity Problem optimised solution in C++"
Please assign me this issue!

[2022-10-09 20:46] Adityaarora08 opened #954 "Boyer Moore's Voting Algorithm in C++"
Please assign me this issue.

[2022-10-10 04:50] icextreme opened #967 "Add "Hello World!" program in Rust"
Add "Hello World!" program in Rust as a contribution for Hacktoberfest 2022.

[2022-10-10 04:50] icextreme commented on #967
@fineanmol I have starred the label, thanks.

[2022-10-10 05:19] Ris-code commented on #951
Please assign me this issue

[2022-10-10 05:22] mayank-del opened #969 "Hello world in java"
This problem of java calculate call rate on basis of whether call is std , isd or lacal  or whether we are calling on daytime or night time. After as many calls, it returns total call rate.

🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and

[2022-10-10 05:22] mayank-del commented on #969
@fineanmol ,please assign this issue to me under hacktoberfest 22

[2022-10-10 10:55] rizzyneck opened #996 "Requesting to accept my PR"
The title say it all.

[2022-10-10 10:55] #996 closed

[2022-10-10 17:43] sreyaad commented on #969
I am working on this Project- Hello World in java using output streams

[2022-10-10 18:28] mayank-del commented on #969
@sreyaad ,ok ,I think ,we should contribute together in this project.

[2022-10-10 19:53] mpatwa98 opened #1023 "Add my name to the contributor.md file"
Add my name to the contributor.md file

[2022-10-10 20:17] tusharjain01 opened #1028 "added my name in Contributor.md and hello world.java file"
contributed to my first open source projecct

[2022-10-10 21:44] #967 closed

[2022-10-11 06:46] pravinkori opened #1052 "Let's start beginner friendly data structure and algorithms."
🐞 **Problem**
Every aspiring programmer who wants to become good at programming struggles with the complexity of data structures and algorithms.

🎯 **Goal**
Let's begin the series of DS&A to help and guide beginners to understand the core of every programming language and how it works.

💡 **Possible solutions**
We can contribute the algorithms in layman's terms by following good practices in the m

[2022-10-11 10:16] i-stilltrying commented on #954
Hello, can you assign me this issue.

[2022-10-11 18:50] bhavya-sharma26 opened #1100 "Smallest distinct window in C++"
Basically this is the problem that approaches to a commonly asked topic in technical interviews that is Sliding Window Technique.
And it would be great to include a program using this approach to this repository.

I would be code the program in C++.

I could also code in java and C if you say.

As this is my first time I am contributing in Hacktoberfest and want to make my experience special and i

[2022-10-11 19:12] anushkamandal25 commented on #427
please assign me this

[2022-10-11 19:13] anushkamandal25 commented on #471
please assign me . I would like to add some c++ programs on recursion

[2022-10-12 05:32] picturepatch07 commented on #1052
I want to contribute to this issue

[2022-10-12 05:35] picturepatch07 commented on #841
I want to contribute. Please assign it to me

[2022-10-12 07:11] MoitreyoChak commented on #691
Hey , I am interested in this task. Can you please assign me this task?

[2022-10-12 07:18] MoitreyoChak commented on #933
Hey @fineanmol , I am interested in this task.  I can do the necessary formatting .Can you assign me this task?

[2022-10-12 07:28] surajkeshari commented on #691
I completed this task pls merge it.

On Wed, Oct 12, 2022, 12:41 MoitreyoChak ***@***.***> wrote:

[2022-10-12 08:07] tusharjain01 commented on #1028
I have already starred this repositry.

[2022-10-12 11:25] Swaijit-Singh commented on #933
[Updating CONTRIBUTING.md with proper formatting #1134] https://github.com/fineanmol/hacktoberfest/pull/1134 . I have sent a pull request please check it.

[2022-10-12 12:43] priyanshuanand166 commented on #933
Assign this to me as i am well versed in dsa and i am pretty confident that you will like my merge request.

[2022-10-12 12:43] priyanshuanand166 commented on #931
Assign this to me as i am well versed in dsa and i am pretty confident that you will like my merge request.

[2022-10-12 12:44] priyanshuanand166 commented on #880
Assign this to me as i am well versed in dsa and i am pretty confident that you will like my merge request.

[2022-10-12 12:44] priyanshuanand166 commented on #471
Assign this to me as i am well versed in dsa and i am pretty confident that you will like my merge request.

[2022-10-12 12:45] priyanshuanand166 commented on #427
Assign this to me as i am well versed in dsa and i am pretty confident that you will like my merge request.

[2022-10-12 12:45] priyanshuanand166 commented on #411
Assign this to me as i am well versed in dsa and i am pretty confident that you will like my merge request.

[2022-10-12 13:08] ujjwal-shekhar commented on #931
Hi, can I work on this

[2022-10-12 13:08] ujjwal-shekhar commented on #1023
Hi, can I work on this

[2022-10-12 13:20] joyjeetcoding opened #1141 "Book allocation problem (DSA practice question) in C++"
One of the most asked DSA question in big tech companies exam

Please assign me this issue. It's my first time contributing in open source forum that too in HACKTOBERFEST

[2022-10-12 18:09] MoitreyoChak commented on #933
Hey @fineanmol  ,I worked on this task and formatted the CONTRIBUTING.md file . I made a pull request . Please have a look at it.

[2022-10-12 19:28] madalena-rocha opened #1158 "Contribution to this project"
My contributions to this project:
- Add my name to the CONTRIBUTING.md file;
- Add my profile page to the profiles directory;
- Create a 'Hello, World' script in Javascript.

[2022-10-13 09:45] #1158 closed

[2022-10-13 14:15] Pranjal2870 commented on #969
Please assign me this project

[2022-10-13 18:32] #1100 closed

[2022-10-13 18:32] #1141 closed

[2022-10-13 18:32] #1028 closed

[2022-10-14 07:31] TannisthaBiswas commented on #841
This is one of the most interesting projects I've come across. would love to contribute to it. Please assign it to me as well. Also, I've starred both projects.

[2022-10-14 11:42] gunjansaha55 commented on #933
Can you please assigned me I am beginner.

[2022-10-14 15:22] mansi-gurnani02 commented on #471
Assign me this I wanna to add some c++ programs
@fineanmol

[2022-10-14 15:28] MrAvinab commented on #471
Hello, @fineanmol please assign me this issue.

[2022-10-15 13:04] DhruvChaurasia3418 commented on #324
Hey can you plz assign this to me , I want to contribute to this

[2022-10-15 16:35] nayanbirla opened #1312 "hello world java"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-16 02:55] Prantik-Barik commented on #471
Hello, @fineanmol I would like to add some programs related to DS&A based C++ programs
Kindly assign me this issue under Hacktoberfest 2022 and let me contribute.

[2022-10-16 02:58] Prantik-Barik commented on #969
Hello, @mayank-del I would like to contribute to this issue
Kindly assign me this issue under Hacktoberfest 2022.

[2022-10-16 03:01] Prantik-Barik commented on #324
Hello, @RajAdwaita  I would like to contibute to this issue.
Kindly assign me this issue under Hacktoberfest 2022.

[2022-10-16 04:24] mprsAbhinavShri commented on #427
please assign me this @fineanmol sir

[2022-10-16 06:04] Vishal-74 commented on #427
Please assign me this i also want ot contribute some good code

[2022-10-16 09:14] 9520prashant commented on #951
hy , I am a DSA mentor and i want to contribute in this , Can i have a chance to contribute in this??

[2022-10-16 09:16] 9520prashant commented on #954
Please assign me this??

[2022-10-16 09:41] ARSLAN7861 commented on #471
I am doing Bs in Software Engineering and have passed C++ Oop and DS with an A grade kindly assign me this @fineanmol

[2022-10-16 09:55] Girlwithasmile opened #1332 "Add hello world in typescript"

[2022-10-16 09:56] Om12Dahale commented on #427
Hi sir looking forward to contribute, please assign this task to me.

[2022-10-16 15:02] HOEVID commented on #471
please assign it to mee

[2022-10-17 05:25] pushpanjali-10 commented on #1
I would like to make contribution in this repository.

[2022-10-17 08:57] Santanujana2001 opened #1366 "create hello world script in cpp"
we have to create a simple cpp file for printing "hello world" script

[2022-10-17 09:30] #1366 closed

[2022-10-17 12:19] arpanbiki commented on #1312
please assign me this issue sir.

[2022-10-17 19:04] ankit060801 commented on #1312
hello sir !please assign me this task

[2022-10-17 19:48] ankit060801 commented on #471
hello sir please assign me this task

[2022-10-17 22:16] #951 closed

[2022-10-17 22:16] #954 closed

[2022-10-17 22:16] #969 closed

[2022-10-17 22:16] #1023 closed

[2022-10-17 22:16] #1052 closed

[2022-10-17 22:16] #1312 closed

[2022-10-17 22:16] #1332 closed

[2022-10-18 08:35] Om12Dahale commented on #471
Hi sir looking forward to contribute, please assign this task to me.

[2022-10-18 14:14] yukthapriya commented on #931
Hi, can I contribute on this issue

[2022-10-18 15:23] Devils-judge commented on #471
heyy, I want to add the popular tower of hanoi algorithm in this repo, please let me do so.
thanks:)

[2022-10-18 17:05] arushi-2298 commented on #471
please assign me i would like to add dsa c++ programs

[2022-10-19 09:42] Abhi2820 commented on #427
hello, I also want to contribute, please assign a task to me

[2022-10-19 21:38] jainshubham766 commented on #478
assign this under hacktoberfeast please

[2022-10-19 21:39] jainshubham766 commented on #876
Assign me the issue please.

[2022-10-19 21:41] jainshubham766 commented on #471
Assign me the issue please.

[2022-10-20 02:55] 9112Michael opened #1492 "Excluded from Hacktoberfest"

[2022-10-20 02:56] 9112Michael commented on #1492
This repository has been excluded from Hacktoberfest

[2022-10-20 16:09] sourabhbhat commented on #880
Can you please assign it to me

[2022-10-20 16:15] sourabhbhat commented on #841
I have starred the project please assign it to me as well

[2022-10-20 21:28] jahway603 commented on #1492
@fineanmol my PR https://github.com/fineanmol/hacktoberfest/pull/1524 was "Excluded" on the hacktoberfest.com website too

[2022-10-21 06:53] Sandydwivedi commented on #471
hello @fineanmol i want to add the solution of zigzag coversion in c++ leetcode solution please assign me

[2022-10-21 14:23] Moddy2024 opened #1558 "Image compressor"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-21 14:25] Moddy2024 commented on #1558
The Pr for this issue is #1559

[2022-10-21 21:15] Moddy2024 commented on #1558
@fineanmol I think you are telling everyone to add the star the repo to earn hacktoberfest accepeted is getting your repo excluded from hacktoberfest because no other repo is doing it. I created a PR again in this repo after the last one and it got excluded too.

[2022-10-21 22:31] #1558 closed

[2022-10-22 05:35] AnujaDixit12 commented on #427
Hello sir, can you please assign me this issue . I would like to contribute.

[2022-10-22 10:07] ZohaiAli commented on #691
i did merge sort in python please assign me this task.
this is some example of my code
#merge function
def merge(arr, l, m, r):
   n1 = m - l + 1
   n2 = r- m
   # create arrays
   L = [0] * (n1)
   R = [0] * (n2)
   # Copy data to arrays
   for i in range(0 , n1):
      L[i] = arr[l + i]
   for j in range(0 , n2):
      R[j] = arr[m + 1 + j]
   i = 0 # first half of array
   j = 0 # second half o

[2022-10-23 07:00] Arunima007 commented on #471
Please assign the issue to me.

[2022-10-23 07:01] Arunima007 commented on #1
I would like to contribute . Please assign this to me.

[2022-10-24 15:49] freshairr commented on #1492
These aren't being counted for Hacktoberfest because they'reconsidered "low quality" and doesn't contribute meaningfully to an open-source project.

[2022-10-25 05:52] ineerajrajeev commented on #427
Dear sir, Please assign this issue to me

[2022-10-25 08:54] sm-sourabh opened #1690 "InfixToPostfix"
🐞 **Problem**

At times it is diffiuclt to find a postfix expression from the given infix expression.

🎯 **Goal**

The goal is to find postfix expressions

💡 **Possible solutions**

Usuing stcak we can convert infix to postfix

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in com

[2022-10-25 08:55] sm-sourabh commented on #1690
@fineanmol please assign this issue to me. Also, I have starred the Repo.

[2022-10-25 15:01] hahahamid opened #1705 "I want to add a beginner friendly snake game which I made using JS"

[2022-10-25 17:07] kouliki commented on #427
Dear sir, please assign this issue to me .I would like to contribute

[2022-10-26 06:14] prabhat108 commented on #1705
HEY PLEASE  SIR ASSIGN IT TO ME

[2022-10-26 10:28] Lahari03 commented on #1690
@fineanmol please assign this issue to me

[2022-10-26 10:42] Lahari03 commented on #571
@fineanmol please assign this issue to me.

[2022-10-26 18:42] Ankuuush commented on #471
Hey @fineanmol I am a 3 star coder on codechef. Please Assign this issue to me.

[2022-10-27 09:19] yashwanth-gh commented on #427
please assign me this i'll upload cool python  projects

[2022-10-27 12:12] MohitKumarSingh-01 commented on #1705
@fineanmol Please Assign this issue to me
Thanking you in Anticipation...
Regards
Mohit Kumar Singh

[2022-10-27 12:14] MohitKumarSingh-01 commented on #1690
@fineanmol  Assign this issue to me
Thanking you in Anticipation...
Regards
Devesh Sharma

[2022-10-27 13:26] prabhleenn commented on #427
please assign me this

[2022-10-27 13:27] prabhleenn commented on #1
please assign me this

[2022-10-27 14:05] pjyoti121 commented on #933
assign me this task please

[2022-10-29 17:55] goswamiprad commented on #427
Guys! you can access my repository to make your PRs there. I need your contributions in my repository to make it useful. @prabhleenn @yashwanth-gh @kouliki @AnujaDixit12 @ineerajrajeev @iammkullah @Abhi2820 @yukthapriya @priyanshuanand166 @Om12Dahale @Vishal-74 @anushkamandal25 and all others. Hope you find it worth it. Thanks!

<b>Click here <b>[Repo](https://github.com/goswamiprad/LearningMachin

[2022-10-30 03:04] maveraw opened #1840 "adding my name to the repo"
hey i want to contribute in this repo.

[2022-10-30 03:51] maveraw commented on #1840
i did it. But i guess there's a problem from your end that you are not able to merge the pull requests.

[2022-10-30 09:33] rashmikinha commented on #471
Hey @fineanmol I am a beginner I practice DSA questions daily I have some interesting question Please Assign this issue to me I want to contribute here.

[2022-10-31 12:02] Gargi14 commented on #471
Hi @fineanmol I would like add C++ program for palindrome with functions:-
    a) to check whether given string is palindrome or not

    b) to remove spaces and punctuation in string, convert all the characters to lowercase, and then call above palindrome
       checking functions to check for a palindrome

    c)to print string in reverse order using stack
Could you please assign me

[2022-10-31 12:03] Gargi14 commented on #471
Hi @fineanmol I would like add C++ program for palindrome with functions:-
a) to check whether given string is palindrome or not
b) to remove spaces and punctuation in string, convert all the characters to lowercase, and then call above palindrome
   checking functions to check for a palindrome
c)to print string in reverse order using stack
Could you please assign me

[2022-10-31 16:26] kouliki commented on #427
ok i would like to contribute

[2022-10-31 16:49] goswamiprad commented on #427
Ok you can click on this [Link](https://github.com/goswamiprad/LearningMachine) @kouliki